---
import Layout from "../layouts/Layout.astro";
---


<Layout title="About"></Layout>



<div class="container1">
    <div class="mission_container"></div>
    <div class="objectives_container"></div>
</div>

<style>
    .container1 {
        display: flex;
        margin-left: 2rem;
        margin-right: 2rem;
        justify-content: space-between;
        
    }

    .mission_container {
        background-color: #B3CDD1;
        width: 35rem;
        height: 50rem;
        border-radius: 15px;
    }

    .objectives_container{
        background-color: #333367;
        width: 35rem;
        height: 50rem;
        border-radius: 15px;
        
    }
</style>